button {
  color: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: block;
  text-align: inherit;
  align-items: inherit;
  cursor: default;
  background-color: inherit;
  box-sizing: border-box;
  margin: 0;
  font: inherit;
  padding: 0;
  border: none;
}