.history {
  &__main-container {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: #f6f6f6;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__history-items-container {
    width: calc(100% - 50px);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-left: 15px;
  }

  &__right-shadow {
    right: 49px;
    width: 15px;
    height: 48px;
    display: block;
    position: absolute;
    background: linear-gradient(269.93deg, #F6F6F6 0.06%, rgba(246, 246, 246, 0) 99.93%);
    pointer-events: none;
    z-index: 200;
  }

  &__fix-scroll {
    display: block;
    height: 100%;
    width: 2000px;
  }
}